.strategies {
    color: $blue-dark;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;

    @include resp(
        (
            "webp": "../img/bg-strategies-lg.webp",
            "jpg": "../img/bg-strategies-lg.jpg",
        ),
        (
            "webp": "../img/bg-strategies-lg.webp",
            "jpg": "../img/bg-strategies-lg.jpg",
        ),
        (
            "webp": "../img/bg-strategies-xl.webp",
            "jpg": "../img/bg-strategies-xl.jpg",
        ),
        (
            "webp": "../img/bg-strategies-xxl.webp",
            "jpg": "../img/bg-strategies-xxl.jpg",
        ),
        (
            "webp": "../img/bg-strategies.webp",
            "jpg": "../img/bg-strategies.jpg",
        )
    );

    @include bp {
        height: 810px;
    }

    .container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 57px;
        padding-bottom: 88px;

        @include bp {
            padding: 0;
            flex-direction: row;
            justify-content: center;
            gap: 99px;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 28px;

        @include bp {
            max-width: 318px;
        }

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: l(24, 32);
            margin-bottom: 10px;

            @include bp {
                font-size: 45px;
                line-height: l(45, 60);
            }
        }

        img {
            width: 160px;
            height: 160px;

            @include bp {
                width: 256px;
                height: 256px;
            }
        }
    }
}
